<div>
  <form>
    <input placeholder="Enter City Name" [(ngModel)]="city" name="cityName" type="text" class="form-control "/>
    <button class="btn btn-success" type="button" (click)="getWeather()">Get Weather</button>
  </form>



 <div class="container">
  <div class="upper-data" *ngIf="weatherData">
    <img  *ngIf="weatherData.main.temp > 300"  src="../assets/weather-imgs/extremeheat.jpg" alt="Error Occured" />
    <img *ngIf="weatherData.main.temp < 300" src="../assets/weather-imgs/cold-climate.jpg" alt="Error Occured">
    
    

    <div class="weather-data">
      <div class="location">{{weatherData.name}}</div>
      <div class="temperature">{{ weatherData.main.temp | number: '1.0-0'}}°C</div>
    </div>

  </div>
  <div class="lower-data">
    <div class="more-info-label">
      More Information
    </div>
    <div class="more-info-container">
      <div class="info-block">
        <div class="info-block-label">
          <img class="smallImgs" src="../assets/weather-imgs/images-min.png" alt="Error"/>
          <span>min</span>
        </div>
        <div class="info-block-value">
          {{weatherData.main.temp_min}}
        </div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img class="smallImgs" src="../assets/weather-imgs/download.png" alt="Error"/>
          <span>max</span>
        </div>
        <div class="info-block-value">
          {{weatherData.main.temp_max}}
        </div>

      </div> <div class="info-block">
        <div class="info-block-label">
          <img class="smallImgs" src="../assets/weather-imgs/download-humidty-2.jpg" alt="Error"/>
          <span>humidity</span>
        </div>
        <div class="info-block-value">
          {{weatherData.main.humidity}}
        </div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img class="smallImgs" src="../assets/weather-imgs/wind.jpg" alt="Error"/>
          <span>wind</span>
        </div>
        <div class="info-block-value">
          {{weatherData.wind.speed}}
        </div>
      </div>

    </div>
  </div>
</div> 



